@font-face {
  font-family: 'UTM Swiss';
  src: url('./fonts/UTMSwiss721BlackCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'UTM Swiss', sans-serif;
  margin: 0;
  padding: 0;
}

.huy-training {
  background-color: #EFFFF1;
  border: 1px solid #004812;
  border-radius: 50px;
  width: 1436px;
  max-width: 98%;
  margin: 20px auto;
  padding-bottom: 50px;
}

.huy-title-wrapper {
  text-align: center;
}

.huy-title1 {
  font-family: 'UTM Swiss', sans-serif;
  font-size: 64px;
  color: #2e7d32;
  margin-bottom: 64px;
  display: inline-block;
  position: relative;
  padding-top: 50px;
  font-weight: bold;
}

.huy-title1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 4px;
  background-color: #2e7d32;
  transition: width 0.4s ease;
}

.huy-title1:hover::after {
  width: 100%;
  background-color: #f9a825;
}

.huy-title {
  text-align: center;
  font-size: 48px;
  color: #2e7d32;
  margin-bottom: 40px;
}

.huy-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.huy-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform;
  width: 387px;
  height: 480px;
  flex: 0 0 auto;
}

.huy-card:hover {
  transform: translateY(-5px);
}

.huy-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.huy-content {
  padding: 20px;
}

.huy-content-left h3 {
  margin: 0;
  font-size: 22px;
  color: #134d17;
}

.huy-content-left span {
  font-family: 'UTM Swiss', sans-serif;
  display: block;
  font-size: 28px;
  font-weight: bold;
  color: #134d17;
  padding: 5px 0;
}

.huy-content-left p {
  margin: 10px 0 20px;
  color: #134d17;
  font-size: 16px;
}

.huy-content-left {
  text-align: left;
  margin-left: 7px;
}

.huy-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  width: 90%;
  margin: 0 auto;
}

.huy-info {
  display: flex;
  align-items: center;
}

.huy-info .icon {
  font-size: 18px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  transform: scale(1.5);
}

.huy-info .icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.time-info {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: left;
}

.time {
  padding-right: 25px;
}

/* Responsive - thu nhỏ card cho mobile */
@media (max-width: 420px) {
  .huy-card {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .huy-container {
    flex-direction: column;
    align-items: center;
  }

  .huy-card {
    width: 90%;
    height: auto;
  }

  .huy-title1 {
    font-size: 48px;
  }

  .huy-title {
    font-size: 36px;
  }
}