body {
  font-family: 'Segoe UI', sans-serif;
  /* background-color: #e8f5e9; */
  margin: 0;
  padding: 0;
}

.huy-training {
  background-color:#EFFFF1;
  border: 1px solid #004812;
  border-radius: 50px;
  padding-bottom: 50px;
  max-width: 1436px;
  margin: 0 auto;
}

.huy-title-wrapper {
    text-align: center;
}

.huy-title1 {
    font-size: 48px;
    color: #2e7d32;
    margin-bottom: 60px;
    display: inline-block;
    position: relative;
}

.huy-title1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background-color: #2e7d32;
    transition: width 0.4s ease;
}

.huy-title1:hover::after {
    width: 100%;
    background-color: #f9a825;
}


.huy-title {
  text-align: center;
  font-size: 32px;
  color: #2e7d32;
  margin-bottom: 40px;
}

.huy-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.huy-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform;
  width: 387px;
  height: 464px;
  flex: 0 0 auto;
  margin: 3px;
}

.huy-card:hover {
  transform: translateY(-5px);
}

.huy-card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.huy-content {
  padding: 20px;
}

.huy-content-left h3 {
  margin: 0;
  font-size: 20px;
  color: #134d17;
}

.huy-content-left h3 span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #134d17;
}

.huy-content-left p {
  margin: 10px 0 20px;
  color: #134d17;
  font-size: 14px;
}

.huy-content-left{
  text-align: left;
  margin-left: 7px;
}

.huy-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  width: 90%;
  margin: 0 auto;
}

.huy-info {
  display: flex;
  align-items: center;
}

.huy-info .icon {
  font-size: 18px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  transform: scale(1.5);
}

.huy-info .icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}


.time-info {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  text-align: left;
}


.time {
  padding-right: 25px;
}


/* Tablet: 2 columns */
@media (min-width: 600px) {
  .huy-card {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

/* Desktop: 3 columns */
@media (min-width: 900px) {
  .huy-card {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
  }
}

@media (max-width: 800px) {
  .huy-container {
    justify-content: center;
  }
}
@media (max-width: 420px) {
  .huy-card {
    width: 90%;
  }
}

