<!doctype html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/responsive.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SFIT-Các Hoạt Động Tham Gia</title>
</head>
<body>
<div class="container-page-content first-page-content">
  <div class="container-main-content">
    <div class="page-title">
      <h1>CÁC HOẠT ĐỘNG THAM GIA</h1>
    </div>
    <div class="page-content">
      <div class="container-text-content">
        <h2 class="event-name">SỰ KIỆN 20/10/2024</h2>
        <p class="event-description">Với landingpage này mình sẽ code html, css, js. Và nhiệm vụ của các bạn là mỗi người sẽ đảm nhận 1 phần, các bạn sẽ tạo folder theo từng phần và cấu trúc gồm các file html, css, js. Và sau đó sẽ có người gộp lại thành một web hoàn chỉnh.</p>
        <a href="" target="_blank" class="see-more-btn">Xem chi tiết</a>
      </div>
      <div class="image-content">
        <img src="https://tse3.mm.bing.net/th/id/OIP.wstHLbqftmO3xQKERr2qRgHaO3?w=236&h=473&c=7&o=5&dpr=1.3&pid=1.20" class="event-img image-frame" >
      </div>
    </div>
  </div>
  <div class="container-sidebar">
    <img src="https://th.bing.com/th/id/R.9b398f25ebb02464dce852b0466080f3?rik=Ml6CEerVtjI5bA&pid=ImgRaw&r=0" class="sidebar-img image-frame" >
    <img src="https://th.bing.com/th/id/OIP.qICBUxhsUzwiebeYzyibtQHaEK?rs=1&pid=ImgDetMain" class="sidebar-img image-frame" >
  </div>
</div>
<hr>
<div class="container-page-content page-content">
  <div class="container-text-content">
    <h2 class="event-name">SỰ KIỆN 20/10/2024</h2>
    <p class="event-description">Với landingpage này mình sẽ code html, css, js. Và nhiệm vụ của các bạn là mỗi người sẽ đảm nhận 1 phần, các bạn sẽ tạo folder theo từng phần và cấu trúc gồm các file html, css, js. Và sau đó sẽ có người gộp lại thành một web hoàn chỉnh.</p>
    <a href="" target="_blank" class="see-more-btn">Xem chi tiết</a>
  </div>
  <div class="container-img-content">
    <div class="image-box-left">
      <img src="https://tse3.mm.bing.net/th/id/OIP.wstHLbqftmO3xQKERr2qRgHaO3?w=236&h=473&c=7&o=5&dpr=1.3&pid=1.20" class="event-img image-frame" >
    </div>
    <div class="image-box-right">
      <img src="https://th.bing.com/th/id/R.9b398f25ebb02464dce852b0466080f3?rik=Ml6CEerVtjI5bA&pid=ImgRaw&r=0" class="sidebar-img image-frame" >
      <img src="https://th.bing.com/th/id/OIP.qICBUxhsUzwiebeYzyibtQHaEK?rs=1&pid=ImgDetMain" class="sidebar-img image-frame" >
    </div>
  </div>
</div>
<hr>
<div class="container-page-content page-content">
  <div class="container-text-content">
    <h2 class="event-name">CUỘC THI LẬP TRÌNH</h2>
    <p class="event-description">Với landingpage này mình sẽ code html, css, js. Và nhiệm vụ của các bạn là mỗi người sẽ đảm nhận 1 phần, các bạn sẽ tạo folder theo từng phần và cấu trúc gồm các file html, css, js. Và sau đó sẽ có người gộp lại thành một web hoàn chỉnh.</p>
    <a href="" target="_blank" class="see-more-btn">Xem chi tiết</a>
  </div>
  <div class="container-img-content">
    <div class="image-box-left">
      <img src="../assets/images/olp-tin-hoc-2.jpg" class="event-img image-frame" >
    </div>
    <div class="image-box-right">
      <img src="../assets/images/olp-tin-hoc-1.jpg" class="sidebar-img image-frame" >
      <img src="../assets/images/olp-tin-hoc-0.jpg" class="sidebar-img image-frame" >
    </div>
  </div>
</div>
<div class="container-page-content page-content">
  <div class="container-text-content">
    <h2 class="event-name">TUYỂN THÀNH VIÊN</h2>
    <p class="event-description">Với landingpage này mình sẽ code html, css, js. Và nhiệm vụ của các bạn là mỗi người sẽ đảm nhận 1 phần, các bạn sẽ tạo folder theo từng phần và cấu trúc gồm các file html, css, js. Và sau đó sẽ có người gộp lại thành một web hoàn chỉnh.</p>
    <a href="" target="_blank" class="see-more-btn">Xem chi tiết</a>
  </div>
  <div class="container-img-content">
    <div class="image-box-left">
      <img src="https://tse3.mm.bing.net/th/id/OIP.wstHLbqftmO3xQKERr2qRgHaO3?w=236&h=473&c=7&o=5&dpr=1.3&pid=1.20" class="event-img image-frame" >
    </div>
    <div class="image-box-right">
      <img src="https://th.bing.com/th/id/R.9b398f25ebb02464dce852b0466080f3?rik=Ml6CEerVtjI5bA&pid=ImgRaw&r=0" class="sidebar-img image-frame" >
      <img src="https://th.bing.com/th/id/OIP.qICBUxhsUzwiebeYzyibtQHaEK?rs=1&pid=ImgDetMain" class="sidebar-img image-frame" >
    </div>
  </div>
</div>
<div class="container-page-content page-content">
  <div class="container-text-content">
    <h2 class="event-name">HACKATHON 2024</h2>
    <p class="event-description">Với landingpage này mình sẽ code html, css, js. Và nhiệm vụ của các bạn là mỗi người sẽ đảm nhận 1 phần, các bạn sẽ tạo folder theo từng phần và cấu trúc gồm các file html, css, js. Và sau đó sẽ có người gộp lại thành một web hoàn chỉnh.</p>
    <a href="" target="_blank" class="see-more-btn">Xem chi tiết</a>
  </div>
  <div class="container-img-content">
    <div class="image-box-left">
      <img src="https://tse3.mm.bing.net/th/id/OIP.wstHLbqftmO3xQKERr2qRgHaO3?w=236&h=473&c=7&o=5&dpr=1.3&pid=1.20" class="event-img image-frame" >
    </div>
    <div class="image-box-right">
      <img src="https://th.bing.com/th/id/R.9b398f25ebb02464dce852b0466080f3?rik=Ml6CEerVtjI5bA&pid=ImgRaw&r=0" class="sidebar-img image-frame" >
      <img src="https://th.bing.com/th/id/OIP.qICBUxhsUzwiebeYzyibtQHaEK?rs=1&pid=ImgDetMain" class="sidebar-img image-frame" >
    </div>
  </div>
</div>
<div class="container-page-content page-content">
  <div class="container-text-content">
    <h2 class="event-name">IT FRESHERMAN CODE WAR</h2>
    <p class="event-description">Với landingpage này mình sẽ code html, css, js. Và nhiệm vụ của các bạn là mỗi người sẽ đảm nhận 1 phần, các bạn sẽ tạo folder theo từng phần và cấu trúc gồm các file html, css, js. Và sau đó sẽ có người gộp lại thành một web hoàn chỉnh.</p>
    <a href="" target="_blank" class="see-more-btn">Xem chi tiết</a>
  </div>
  <div class="container-img-content">
    <div class="image-box-left">
      <img src="https://tse3.mm.bing.net/th/id/OIP.wstHLbqftmO3xQKERr2qRgHaO3?w=236&h=473&c=7&o=5&dpr=1.3&pid=1.20" class="event-img image-frame" >
    </div>
    <div class="image-box-right">
      <img src="https://th.bing.com/th/id/R.9b398f25ebb02464dce852b0466080f3?rik=Ml6CEerVtjI5bA&pid=ImgRaw&r=0" class="sidebar-img image-frame" >
      <img src="https://th.bing.com/th/id/OIP.qICBUxhsUzwiebeYzyibtQHaEK?rs=1&pid=ImgDetMain" class="sidebar-img image-frame" >
    </div>
  </div>
</div>
<div class="container-page-content page-content">
  <div class="container-text-content">
    <h2 class="event-name">QUỐC TẾ PHỤ NỮ 8/3</h2>
    <p class="event-description">Với landingpage này mình sẽ code html, css, js. Và nhiệm vụ của các bạn là mỗi người sẽ đảm nhận 1 phần, các bạn sẽ tạo folder theo từng phần và cấu trúc gồm các file html, css, js. Và sau đó sẽ có người gộp lại thành một web hoàn chỉnh.</p>
    <a href="" target="_blank" class="see-more-btn">Xem chi tiết</a>
  </div>
  <div class="container-img-content">
    <div class="image-box-left">
      <img src="../assets/images/8-3-0.jpg" class="event-img image-frame" >
    </div>
    <div class="image-box-right">
      <img src="../assets/images/8-3-1.jpg" class="sidebar-img image-frame" >
      <img src="../assets/images/8-3-2.jpg" class="sidebar-img image-frame" >
    </div>
  </div>
</div>
<div class="container-page-content page-content">
  <div class="container-text-content">
    <h2 class="event-name">SINH NHẬT SFIT</h2>
    <p class="event-description">Với landingpage này mình sẽ code html, css, js. Và nhiệm vụ của các bạn là mỗi người sẽ đảm nhận 1 phần, các bạn sẽ tạo folder theo từng phần và cấu trúc gồm các file html, css, js. Và sau đó sẽ có người gộp lại thành một web hoàn chỉnh.</p>
    <a href="" target="_blank" class="see-more-btn">Xem chi tiết</a>
  </div>
  <div class="container-img-content">
    <div class="image-box-left">
      <img src="https://tse3.mm.bing.net/th/id/OIP.wstHLbqftmO3xQKERr2qRgHaO3?w=236&h=473&c=7&o=5&dpr=1.3&pid=1.20" class="event-img image-frame" >
    </div>
    <div class="image-box-right">
      <img src="https://th.bing.com/th/id/R.9b398f25ebb02464dce852b0466080f3?rik=Ml6CEerVtjI5bA&pid=ImgRaw&r=0" class="sidebar-img image-frame" >
      <img src="https://th.bing.com/th/id/OIP.qICBUxhsUzwiebeYzyibtQHaEK?rs=1&pid=ImgDetMain" class="sidebar-img image-frame" >
    </div>
  </div>
</div>
</body>
</html>